<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="initial-scale=1, width=device-width">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='/static/styles.css' rel="stylesheet">
        <title>Dashboard</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <scrip src="static/code.js"></scrip>
    </head>
    <body>
    <nav>
        <ul>
            <li><a id="req" href="#">Requests</a></li>
            <li><a id= "pages" href="#">Pages</a></li>
            <div class="date-menu">
                <li><a href="#"><</a></li>
                <li><p id="date">June</p></li>
                <li><a href="#">></a></li>
            </div>
            <li id="icon" class="dropdown">
                <i class="material-icons" style="font-size:24px;color:white;padding:8px;">format_list_bulleted</i>
                <ul class="dropdown-content">
                    <li onclick="stateFunction()"><a id="table/chart" href="#">...</a></li>
                    <li><a href="#">Landscape</a></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
            {%block body%}{%endblock%}

    </body>
</html>