{% extends "secondaryLayout.html" %}
{% block head %}
	<title>Login</title>
    <link rel="icon" href="/static/Icons/fingerprint.svg">
{% endblock %}
{% block body %}

<h1>Welcome</h1>
<h2>To your personal dashboard app!</h2>
<form action="/login" method="post">
	<input required class="input" type="text" name="Username" autocomplete="off" placeholder="Username"><br>
	<input required class="input" type="password" name="Password" placeholder="Password"><br>
	<input class="input" id="logInButton" type="submit" name="submit" value="Log in"> <br>
	<a href="/register">Register</a>
</form>

{% endblock %}