/*Color palette:*/
:root {
--acc1: #051C2C;
--acc2: #00A9F4;
--acc3: #1F40E6;
--acc4: #AAE6F0;
--acc5: #3C96B4;
}

/*LAYOUT*/
body{
    background: #f2f2f2;
}

  .container {
    /*z-index:0;*/
    display: flex;
    flex-direction: row;
    background-color: rgb(5, 28, 44, 0.8);

  }

    .container div{
      /*border: 1px black solid;*/
      padding: 20px;
      margin:20px;
      border-radius:20px;
      background: white;
    }

      .PRC {
      flex: 3;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      height: 800px;
      text-align: center;
      }

      .TasksAndShifts {
      flex: 1;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      height: 800px;
      }

        .chart-container {
          text-align: center;
        }
          img {
            max-width: 100%;
            object-fit: contain;
          }
        #prcImage {
        height: 500px;
        }

        #tasksContent {
          height:240px;
        }

        #tasksImage {
          height: 200px;
        }
        #shiftsContent {
          height:240px;
        }

        #shiftsImage {
          height: 200px;
        }

/*NAVBAR*/

nav {
  display: flex;
  flex-direction: column;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    background-color: var(--acc1);
  }

  li {
    float: left;

  }

  li a, p {
    display: block;
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
    padding: 14px 16px;
    text-decoration: none;
  }

  .active_button {
    background-color: blue;
    background-color: var(--acc3);
  }

  li a:hover {
    background-color: blue;
    background-color: var(--acc2);
    }

  .date-menu {
    margin: auto;
    width: 400px;
  }

  #date {
      background: white;
      color: black;
      width: 200px;
  }

  #icon{
    float: right;
  }
  /*Dropdown*/
  .dropdown{
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    flex: 1;
    display: none;
    position: absolute;
    top:35px;
    right:0px;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*z-index: 1;*/
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  #icon:hover .dropdown-content {
    display: block;
  }


input {
 border: 1px #00A9F4 solid;
 padding: 5px;
}

hr {
  width:95%;
  margin-top:20px;
  margin-bottom:20px;
}

.modalBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  display: none;
}
#update_form {
  margin: auto;
  padding: 40px 20px;
  width: 330px;
  border: 1px #00A9F4 solid;
  background-color: #051C2C;
  position: relative;
}

.close {
  color:white;
  font-size: 26px;
  transform: rotate(45deg);
  position: absolute;
  top:0;
  right: 8px;
  cursor:pointer;
}